
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    Ngôn ngữ tieng anh ["Index_vi_VN"] Khu vực Uc:
    <br />Message : @Soureces_Test.Resources.MyResources_en_AU.Message

    <br />Name : @Soureces_Test.Resources.MyResources_en_AU.Name
</p>

